description = "Header partial with meta tags"
==

<header class="header">
    <img class="svg-image svg-image-header" src="{{ 'assets/other_images/wave-lighter.svg' |theme }}" alt="svg-background">
    <img class="bg1" src="{{ 'olivier-piquer.jpg'|media }}" alt="main-image"/>
    <div class="container1">
        <h4 class="header-title">Pro Cleaner</h4>
        <p>Pranie, czyszczenie tapicerki meblowej, kanapy w koloni</p>
        <p>profesjonalnie i bezpiecznie</p>
        <button>wycen i zamow</button>
    </div>
</header>
